*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'poppins';
}

html, body{
    height: 100%;
    width: 100%;
    /* background-color: white */
    /* background-image: url(https://media.istockphoto.com/id/1169595991/photo/immigration-and-passport-control-at-the-airport-woman-border-control-officer-puts-a-stamp-in.jpg?s=1024x1024&w=is&k=20&c=F64x-hlSu2_aByC2q93wzh-s2ukGfD9LLKS2gXc59b0=); */
    
}
nav{
    width: 100%;
    height: 40;
    /* border-bottom: 1px solid black; */
    display: flex;
    text-align:  left;
    align-items: center;
    justify-content: end;
    gap: 1vw;
}
nav>a{
    font-size: 1.5vw;
    font: weight 500px;;
    color: black;
    padding: 0.5px;
    border: 1px;
    border-radius: 5vw;
    margin: 2vw 0.5vw 0vw 0vw ;
    text-decoration: none;
    

}
#main{
    width: 100%;
    gap: 1vw;

    /* background-color: blue; */
    padding: 1vw 3vw;
    
}
#main>h2{
    font-size: 3.8vw;
    font-weight: 500vw;
    
    padding: 1vw 2vw;
    margin-right: 10%;
    
}

#para{
 width: 100%;
 height: 20%;
 /* background-color: brown; */
 margin-right: 10%;
 padding: 1vw 5vw;


}
#para>p{
    font-size: 1.8vw;
    font-weight: 500;
}
 #d3{
   
    display: flex; 
    align-items: center;
    gap: 1vw;
    flex-direction: column;
   margin-left: 80vw;

}

.smdiv{
    position: absolute;
    top: 50%;
    right: 5%;
    width: 20%;
    /* background-color: red; */
    
}

#d3>a{
    text-decoration: none;
    text-transform: capitalize;
    font-size: 1.2vw;
    color: #000;
}

#nathuram{
    margin: 0vw 3vw;
    height: 18vw;
    width: 90%;
    object-fit: cover;
    border: 1px solid #000;
    border-radius: 20px;
}

#icon{
    background-color: #000;
    color: white;
    padding: 7px;
    border-radius: 50%;

}